/* photo gallery settings */
:root {
  --photo-gallery-border: #00a2ff;
  --previous-next-image-button-color: #00a2ff;
  --close-button-color: #00a2ff;
}

.photo-gallery {
    z-index: 2000; /* A high value to ensure it is above other elements */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  
  .photo-gallery img {
    max-width: 100%;
    height: auto;
    border: 5px solid var(--photo-gallery-border);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .photo-gallery img:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    transition: opacity 0.5s ease;
  }
  
  .modal.fade-out {
    opacity: 0;
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Modal container */
  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Image preview */
  #image_preview {
    margin: auto;
    display: block;
    /* Maximum width and height of previewed image */
    max-width: 90%;
    max-height: 90%;
  }
  
  /* Navigation arrows */
  .previous_image_button, .next_image_button {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    width: auto;
    padding: 16px;
    margin-top: 22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s ease;
    user-select: none;
  }
  
  .previous_image_button {
    left: 10%;
  }
  
  .next_image_button {
    right: 10%;
  }
  
  .previous_image_button:hover, .next_image_button:hover {
    color: var(--previous-next-image-button-color);
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Close button */
  .close_button {
    position: absolute;
    top: 20%;
    right:  10%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close_button:hover, .close_button:focus {
    color: var(--close-button-color);
    text-decoration: none;
    cursor: pointer;
  }  